* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./assets/background.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  color: #fff;
  background-color: black;
}

.relative {
  position: relative;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
}
